<h1 id="tableLabel">To do items</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!todoitems"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="todoitems">
  <thead>
    <tr>
      <th>Name</th>
      <th>Cash</th>
      <th>Description</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let todoitem of todoitems">
      <td>{{ todoitem.name }}</td>
      <td>{{ todoitem.cashValue }}</td>
      <td>{{ todoitem.description }}</td>
      <td>{{ todoitem.date }}</td>
    </tr>
  </tbody>
</table>

<button (click)="createToDoItem()">Dodaj nowy wiersz</button>
