<h1 id="tableLabel">Expenses</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!todoitems"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="todoitems">
  <thead>
    <tr>
      <th>Name</th>
      <th>Cash</th>
      <th>Description</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let todoitem of todoitems">
      <td>{{ todoitem.name }}</td>
      <td>{{ todoitem.cashValue }}</td>
      <td>{{ todoitem.description }}</td>
      <td>{{ todoitem.date }}</td>
    </tr>
  </tbody>
</table>

<form [formGroup]="toDoItemsForm" (ngSubmit)="onSubmit()">
  <label for="name">Name:</label>
  <input type="text" id="name" formControlName="name" required><br>

  <label for="description">Description:</label>
  <input type="text" id="description" formControlName="description" required><br>

  <label for="cash-value">Cash Value:</label>
  <input type="text" id="cash-value" formControlName="cashValue" required><br>

  <button type="submit" [disabled]="!toDoItemsForm.valid">Dodaj nowy wiersz</button>
 </form>
