<h1 id="tableLabel">Expenses</h1>

<p *ngIf="!todoitems"><em>Loading...</em></p>

<div class="container">
  <h3>New entry</h3>

  <form [formGroup]="toDoItemsForm" (ngSubmit)="onSubmit()">

    <div class="row">
      <div class="col-25">
        <label for="name">Name:</label>
      </div>
      <div class="col-75">
        <input type="text" id="name" formControlName="name" placeholder="Name.." required><br>
      </div>
    </div>

    <div class="row">
      <div class="col-25">
        <label for="description">Description:</label>
      </div>
      <div class="col-75">
        <input type="text" id="description" formControlName="description" placeholder="Some description.." required><br>
      </div>
    </div>

    <div class="row">
      <div class="col-25">
        <label for="cash-value">Cash Value:</label>
      </div>
      <div class="col-75">
        <input type="text" id="cashValue" formControlName="cashValue" placeholder="Value.." required><br>
      </div>
    </div>

    <div class="row">
      <div class="col-1">
        <input type="submit" value="Submit">
      </div>
     </div>
</form>
</div>

<div class="container">
  <h3>Summary</h3>

  <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="todoitems">

    <thead>
      <tr>
        <th>Name</th>
        <th>Cash</th>
        <th>Description</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let todoitem of todoitems">
        <td>{{ todoitem.name }}</td>
        <td>{{ todoitem.cashValue }}</td>
        <td>{{ todoitem.description }}</td>
        <td>{{ todoitem.date }}</td>
      </tr>
    </tbody>
  </table>
</div>
